h1{
  background-color: rgb(123, 74, 10);  
  text-align: center;
  font-family: 'Times New Roman', Times, serif;



  
  text-decoration: underline;
  font-size: medium;
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  text-decoration: underline;  
}

h2{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(73, 45, 2);

}
button:hover{
  background-color: rgb(135, 222, 181);
  transition: 5s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aquamarine;

}

select{
  background-color: darkslategrey;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
video{
  border: 0rlh;
}

.img {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.marks{
  border: 30px;
}
.th{
  color: antiquewhite;
}



