form {
    width: 500px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(204, 199, 199);
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


button {
    width: 100%;
    padding: 10px;
    background-color: rgb(20, 18, 17);
    color: rgb(224, 222, 222);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}